{% extends 'layout.html' %}
{% block content%}
{{super()}}
<div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <h2>欢迎使用数据工作台</h2>
            <form method="POST" class="m-t" role="form" action="/login">
                {{ form.csrf_token }}
                <div class="form-group">
                    {{ form.username(class_ ='form-control',placeholder = "用户") }}
                </div>
                <div class="form-group">
                    {{ form.password(class_ ='form-control',placeholder = "密码") }}
                </div>
                {{ form.submit(class="btn btn-primary block full-width m-b") }}

                </p>

            </form>
        </div>
    </div>
{% endblock %}

